.buildpath
.php_cs.cache
.php-cs-fixer.cache
.phpunit.cache/*
.project
*.log
*.pyc
*.swp
alloc_config.php
doc/html-images/.*
documentation.pdf
help/documentation.css
help/help.html
help/html-images
vendor/*
