version: "3.9"
services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile.alloc
    ports:
      - 4000:80
    links:
      - db:db
    depends_on:
      - "db"
  db:
    build:
      context: .
      dockerfile: ./Dockerfile.mariadb
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
